.calculator {
  width: 15em;
  font: 1.5em sans-serif;
}

.row {
  display: flex;
  background: #e0e0e0;
}

.top {
  background: #4c4c4c;
  height: 80px;
  border-radius: 0.3em 0.3em 0 0;
  color: white;
  justify-content: center;
  align-items: center;
}

.row div:last-of-type {
  border-right: 0.01em solid #8e8e8e;
  background: #f5923e;
  color: white;
}

.row:last-of-type div:first-child {
  flex: 6.3;
}

.button {
  border: 0.01em solid #8e8e8e;
  border-top: none;
  border-right: none;
  padding: 1em;
  text-align: center;
  flex: 2;
}
